@import "tab/Tabs.styl"
@import "scroll/Scroll-area.styl"
@import "dropdown/Dropdown.styl"
@import "dropdown/Button-dropdown.styl"
@import "field/Validable-field.styl"
@import "field/Validable-suffix.styl"
@import "switcher/Switcher.styl"
@import "loader/Loader.styl"
@import "table/Table.styl"
@import "confirm/Confirm.styl"
@import "confirm/Modal.styl"
@import "utils/Required-label.styl"


Offset_create($top = 0, $right = 0, $bottom = 0, $left = 0){
  $return = {top: $top, right: $right, bottom: $bottom, left: $left, "_type": "Offset"}
}
Offset_typeOf($offset){
  if $offset['_type'] == null || $offset['_type'] != 'Offset'{
    error(join(' ', $offset 'is not of type Offset'))
  }
}

_$animationCount = 0;
animate($duration = 0s, $timingFunction = ease, $delay = 0s, $iterationCount = 1, $direction = normal, $fillMode = forwards, $playState = running){
  vendors = official;

  $animationName = 'anim'+ _$animationCount
  animation: $duration $timingFunction $delay $iterationCount $direction $fillMode $playState unquote($animationName);
  @keyframes {$animationName}{
    {block}
  }

  _$animationCount = _$animationCount + 1;
}