Plastique-Button-dropdown($textColor = black) {
  .Button-dropdown {
    $name = '.Button-dropdown'
    $height = 2.375rem;
    position relative

    &__dropdown {
      position absolute !important
      top: $height
      left 0;
      display none
      text-align left
      color $textColor

      &_active {
        display block
      }
    }
  }
}