Plastique-Tabs($tabsBorderColor = #d4d4d4, $tabsBorderColorHover = #0000001a, $backgroundColor = white, $padding = 1.25rem) {
  $name = '.Tabs'
  .Tabs{
    position: relative;
    width 100%

    &_separate{
      {$name}__menu:after {
        content: "";
        position: absolute;
        top: 2.5rem;
        height: 0.06rem;
        left: 0;
        right: 0;
        background: $tabsBorderColor
        margin-top: 0.06rem;
      }
    }

    &__menu{
      margin-bottom $padding
    }

    &__item{
      width 100%;
      border-top-left-radius: .5rem !important;
      border-top-right-radius: .5rem !important;
      z-index 1
      position relative

      &:focus{
        outline 0 !important
      }

      &_active{
        border-color: $tabsBorderColor $tabsBorderColor $backgroundColor !important;
        background: linear-gradient(to bottom, #f5f5f5, transparent) !important;
      }

      &:not({$name}__item_active){
        cursor pointer
        border-bottom-color: $tabsBorderColor !important
        &:hover{
          border-color: $tabsBorderColorHover $tabsBorderColorHover $tabsBorderColor !important
        }
      }
    }

    &__section{
    }

  }
}