Plastique-Validable-suffix() {
.Validable-suffix {
  $name = '.Validable-suffix'

  position relative
  &__btn {
    position: absolute;
    bottom: 0;
    right: .7rem;
    line-height: 2.375rem;
    color: rgba(0, 0, 0, 0.2);
    cursor pointer

    &_visible,
    &:hover {
      color: #989898;
    }
  }
}

}