Plastique-Text-menu-btn() {
  .Text-menu-btn {
    $name = '.Text-menu-btn'

    position: relative
    &__menu{
      position: absolute;
      top: 0;
      left: 100%;
      text-align: left;
      z-index 100 !important

      +animate("raise", .2s) {
        from {
            opacity: 0
            top: 1.5rem
          }
        to {
            opacity: 1
          }
      }

    }
  }
}